PORT=3000
MONGODB_URI=mongodb://localhost:27017/master-auth

ACCESSTOKEN_SECRET=your_access_token_secret_here
ACCESSTOKEN_EXPIRY=15m

REFRESHTOKEN_SECRET=your_refresh_token_secret_here
REFRESHTOKEN_EXPIRY=7d

EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_SECURE=false
EMAIL_USER=your_email@gmail.com
EMAIL_PASS=your_app_password
SENDER_EMAIL=your_email@gmail.com

BASE_URL=http://localhost:3000
